@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{margin:0;padding:0;font-family:Poppins;box-sizing:border-box;}

body{
    background: linear-gradient(to right,#dff4ff,#eefedc);
    text-align:center;
    padding:30px;
}

header{
    font-size:30px;
    font-weight:800;
    margin-bottom:28px;
}

.box{
    width:60%;
    background:white;
    margin:auto;
    padding:25px;
    border-radius:25px;
    box-shadow:0px 0px 18px rgba(0,0,0,.08);
}

.row{
    margin:10px 0;
}

.row input{
    padding:10px;
    width:150px;
    margin:6px;
    border-radius:8px;
    border:1px solid #bbb;
    font-size:15px;
}

button{
    padding:10px 20px;
    background:#6058f8;
    color:white;
    border:none;
    font-weight:600;
    border-radius:8px;
    cursor:pointer;
}
button:hover{transform:scale(.97);}

h2{margin-top:15px;font-size:22px;}

.cache{
    margin-top:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
}

.node{
    width:80px;
    height:80px;
    border:3px solid #5a58ff;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-weight:700;
    font-size:18px;
    background:#fff;
    transition:.3s;
}

.node small{font-size:12px;font-weight:500;}

.arrow{font-size:25px;font-weight:800;margin:0 8px;}

.hit-node{background:#8dff8d;border-color:#009a00;}

.stat{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:30px;
    font-weight:700;
    font-size:18px;
}

.hs,.ms{
    background:#85f89a;
    padding:8px 20px;
    border-radius:10px;
}
.ms{background:#ffb7b7;}

.msg{
    font-size:18px;
    margin-top:12px;
    padding:6px 14px;
    border-radius:8px;
    display:inline-block;
    min-width:180px;
}

/* colored result banners */
.msg-hit{background:#b7ffbf;color:#006d15;border:2px solid #008a1b;}
.msg-miss{background:#ffd4d4;color:#b90000;border:2px solid #d20000;}
.msg-rem{background:#ffe5b8;color:#8a4d00;border:2px solid #a65f00;}
